body{
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;  /* Set the height of the body to cover the full viewport height */
    display: flex;
    align-items: center;
}
.Main_DIV {
    margin-left: auto;
    margin-right: auto;
    background-color: #E6E6FA;
    width: 80%;
    height: 70%;
    border: 3px solid #1F2937;
    border-radius: 15px;
    display: flex; /* Enable flexbox */
    flex-direction: column;
   justify-content: center;
   padding-bottom: 30px;
}
.content{
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 20px;
}
.Sub_DIV {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto; /* Push the div down */
    margin-bottom: auto; /* Push the div up */
}
.player{
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #1F2937;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}
.computer{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 40%;
}
.computer>img{
    margin-right: 10px;
}
img{
    width: 100px; /* Or set a fixed value that suits your design */
    height: 100px; /* Or remove it if you prefer to keep aspect ratio intact */
    transition: transform .2s;
}
.AI{
    border-radius: 50%;
}
.player img:hover{
    cursor: pointer;
    transform:scale(1.2);
}
h1{
    font-family: 'Press Start 2P', cursive;
    color: #1F2937; /* Dark color for good contrast */
}
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
}

.AI{
    animation: shake 2s ease-in-out infinite;
}
.text-DIV{
    display: flex;
    justify-content: center;
}
.scoreBoard{
    width: 90%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #1F2937; 
    border-radius: 15px;
    padding-bottom: 25px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.scoreBoard>h2{
    text-align: center;
}
.playerBoard{
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    border: 3px solid yellow; 
    margin-bottom: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
